[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
platformdirs = ">=3.10.0"
rich = ">=13.5.2"
setuptools = "*"
wheel = "*"

[dev-packages]

[requires]
python_version = "3.10"
